services:

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

  backend:
    image: tusharyadaav/backend-app
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    image: tusharyadaav/frontend-app
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data: